<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sortify</title>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

<div class="loader">
    <div class="loading-wrapper">
        <div class="loading-spinner-wrapper">
            <div class="loading-spinner"></div>
        </div>
        <div class="loading-message-wrapper">
            <div class="loading-message"></div>
        </div>
    </div>
</div>

{% if error %}

<div class="error">
    <div class="error-content">
        <p class="error-heading">Oh no, it's an <strong>ERROR</strong> 😔😳</p>
        <p class="error-title"><span class="error-message">{{ message }}</span></p>
        <p class="error-subtitle">Sorry, this should not have happened!<br>
            Please try <a href="/">starting over</a>.</p>
    </div>
</div>
{% endif %}

<div class="error socket-error">
    <div class="error-content">
        <p class="error-heading">Oh no, it's an <strong>ERROR</strong> 😔😳</p>
        <p class="error-title"><span class="error-message"></span></p>
        <p class="error-subtitle"></p>
    </div>
</div>

{% if not loggedIn %}
<div class="info-wrapper login-wrapper">
    <div class="info-description login-description">
        <h1>Welcome to Sortify!</h1>
        <p><strong>Sortify</strong> uses AI to intelligently sort your <strong>Spotify playlists</strong>.<br><strong>Ready
            to give it a try?</strong></p>
    </div>
    <div class="info-action login-action">
        <div class="button-wrapper">
            <!--suppress HtmlUnknownTarget -->
            <a href="/login">GET STARTED!</a>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                    <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
                </svg>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if loggedIn %}
<div class="content-wrapper">

    <div class="info-wrapper me-wrapper">
        <div class="info-description me-description">
            <h1>Hey {{user.display_name}}!</h1>
            <p>Sorting your playlists is as easy as 1 — 2 — 3!</p>
            <img src="/static/img/steps.svg" alt="1. Select a Playlist // 2. Select a starting song // 3. Enjoy!">
        </div>
        <div class="info-action me-action">
            <div class="button-wrapper">
                <!--suppress HtmlUnknownTarget -->
                <a class="playlist-button" href="#">GET PLAYLISTS</a>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                        <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="spotify-list-wrapper playlist-wrapper">
        <div class="top">
            <h1 class="playlist-heading">Your Playlists</h1>
            <p class="description-text">Choose a playlist to sort!</p>
        </div>
        <div class="bottom">
            <div class="spotify-content playlist-list">

            </div>
        </div>
    </div>

    <div class="spotify-list-wrapper track-wrapper">
        <div class="top">
            <a class="back-button">Back</a>
            <h1 class="track-heading"></h1>
            <p class="description-text">Select a title your playlist should start with!</p>
            <div class="audio-button">
                <div class="bar-c">
                    <div id="bar-1" class="bar"></div>
                    <div id="bar-2" class="bar"></div>
                    <div id="bar-3" class="bar"></div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="spotify-content track-list"></div>
        </div>
    </div>

    <div class="info-wrapper success-wrapper">
        <div class="confetti"></div>
        <div class="info-description success-description">
            <h1>Success!</h1>
            <p>Yay! Your playlist has been sorted!</p>
        </div>
        <div class="info-action success-action">
            <div class="button-wrapper">
                <!--suppress HtmlUnknownTarget -->
                <a class="spotify-link" target="_blank" href="#">Open in Spotify</a>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                        <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="success-more">
            <p>
                <a href="#" class="sort-more">Sort Another Playlist</a>
            </p>
        </div>
    </div>
</div>
<audio class="track-audio" loop></audio>
{% endif %}

</body>
</html>