body {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.track-wrapper {
    display: none;
}

.error {
    color: red;
}

.socket-error {
    display: none;
}

.track-name {
    font-weight: bold;
}