html, body {
    height: 100%;
    width: 100%;
    --main-bg: rgb(31, 50, 97);
    --main-accent: rgb(228, 58, 161);
    --secondary-accent: rgba(228, 58, 161, .3);
    --default-color: white;
}

body {
    color: var(--default-color);
    background-color: var(--main-bg);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    transition: background-color 300ms;
}

h1 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

a, a:visited {
    color: var(--main-accent);
    text-decoration: underline;
    font-weight: bold;
}

a:focus, a:hover {
    color: var(--secondary-accent);
}

.loader, .error, .login-wrapper, .me-wrapper {
    position: absolute;
    background-color: var(--main-bg);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loader {
    z-index: 2;
}

.error {
    z-index: 3;
}

.loader, .error.socket-error {
    display: none;
}

.loading-spinner-wrapper {
    width: 100%;
}

.loading-spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid var(--secondary-accent);
    border-radius: 50%;
    border-top-color: var(--main-accent);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -25px;
}

.loading-message-wrapper {
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    font-size: initial;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
}

.loading-message {
    margin: 0 40px;
    font-size: xx-large;
}

.error-content {
    width: 100%;
    text-align: center;
    top: 30%;
    position: absolute;
    color: var(--main-accent);
}

.error-content p {
    margin: 30px 40px;
}

.error-heading {
    font-weight: lighter;
    font-size: large;
    color: var(--default-color);
}

.error-message {
    font-size: xx-large;
    font-weight: bold;
}

.error-subtitle {
    color: var(--default-color);
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.top p {
    margin: 0;
    font-size: 12px;
}

.top {
    height: 90px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 60px 0 30px;
}

.bottom {
    position: absolute;
    top: 100px;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}

.track-wrapper, .playlist-wrapper {
    display: none;
}

.track, .playlist {
    padding: 40px 0;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.3);
    position: relative;
    scroll-snap-align: start;
    white-space: nowrap;
    transition: color 300ms;
    height: 50px;
    cursor: pointer;
}

.track.selected, .playlist.selected {
    color: var(--default-color);
    transition: color 300ms;
}

.track:last-of-type, .playlist:last-of-type {
    padding-bottom: calc(100vh - 186px);
}

.playlist-name, .track-info {
    padding-left: 30px;
}

.playlist-name {
    font-weight: bold;
}

.playlist-list, .track-list {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 100px);
    scroll-behavior: smooth;
}

.playlist-list:before, .track-list:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid black;
    position: fixed;
    left: 0;
    top: 154px;
    z-index: 1;
}

.socket-error {
    display: none;
}

.track-name {
    font-weight: bold;
}

.login-description, .me-description, .success-description {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-content, .me-content, .success-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrapper h1, .me-wrapper h1, .success-wrapper h1 {
    font-size: 300%;
    color: var(--main-accent);
}

.login-link-wrapper {
    position: relative;
}

.button-wrapper a {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: var(--main-bg);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid var(--default-color);
    transition: all 300ms;
}

.button-wrapper .icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all 300ms;
}

.button-wrapper .icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: var(--main-accent);
    transition: all 300ms;
}

.button-wrapper a:hover {
    width: 200px;
    border: 3px solid var(--main-accent);
    background: transparent;
    color: var(--main-accent);
}

.button-wrapper a:hover + .icon {
    border: 3px solid var(--main-accent);
    right: -25%;
}

.back-button, .back-button:focus, .back-button:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.back-button:before {
    content: "\003c";
    padding-right: 5px;
}

.bar-c {
    overflow: hidden;
    height: 30px;
    width: 20px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

.bar {
    height: 1px;
    width: 5px;
    display: inline-block;
    background-color: var(--default-color);
    bottom: 0;
    position: absolute;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.bar.no-anim {
    -webkit-animation: noDance !important;
    -webkit-animation-name: noDance !important;
}

.bar#bar-1 {
    left: 0;
    -webkit-animation-name: danceHeight1;
    -webkit-animation-delay: 0ms;
}

.bar#bar-2 {
    left: 6px;
    -webkit-animation-name: danceHeight2;
    -webkit-animation-delay: 300ms;
}

.bar#bar-3 {
    left: 12px;
    -webkit-animation-name: danceHeight3;
    -webkit-animation-delay: 600ms;
}

@-webkit-keyframes danceHeight1 {
    from {
        height: 1px;
    }
    to {
        height: 22px;
    }
}

@-webkit-keyframes danceHeight2 {
    from {
        height: 1px;
    }
    to {
        height: 15px;
    }
}

@-webkit-keyframes danceHeight3 {
    from {
        height: 1px;
    }
    to {
        height: 30px;
    }
}

@-webkit-keyframes noDance {
    from {
        height: 1px;
    }
    to {
        height: 1px;
    }
}

.audio-button {
    position: absolute;
    display: none;
    right: 30px;
    top: 30px;
}

.success-wrapper {
    display: none;
}

[class|="confetti"] {
    position: absolute;
}

.success-wrapper .red {
    background-color: var(--main-accent);
}

.success-wrapper .yellow {
    background-color: #FAA040;
}

.success-wrapper .white {
    background-color: var(--default-color);
}
